In [1]:
import os
import sys
import json
import requests
import pandas as pd
from io import StringIO
from tqdm import tqdm_notebook as tqdm_nb

In [2]:
exomol_all_url = 'http://www.exomol.com/db/exomol.all'

content = requests.get(exomol_all_url).text.replace('#','')
exomol_col_name = ['c0', 'c1', 'c2', 'c3', 'c4', 'c5', 'c6']
exomol_all = pd.read_csv(StringIO(content), sep='\\s+', names=exomol_col_name, header=None)

exomol_all

,c0,c1,c2,c3,c4,c5,c6
0,EXOMOL.master,ID,NaN,NaN,NaN,NaN,NaN
1,20200720,Version,number,with,format,YYYYMMDD,NaN
2,129,Number,of,molecules,in,the,database
3,11,Number,of,molecule,names,listed,NaN
4,Water,Name,of,the,molecule,NaN,NaN
...,...,...,...,...,...,...,...
1309,XLYOFNOQVPJJNP-UHFFFAOYSA-O,Inchi,key,of,isotopologue,NaN,NaN
1310,1H3-16O_p,Iso-slug,NaN,NaN,NaN,NaN,NaN
1311,(1H)3(16O)+,IsoFormula,NaN,NaN,NaN,NaN,NaN
1312,eXeL,Isotopologue,dataset,name,NaN,NaN,NaN
1313,20200707,Version,number,with,format,YYYYMMDD,NaN

In [3]:
first = exomol_all['c1']
third = exomol_all['c3']
row = len(first)


iso_slug = pd.DataFrame()
iso_formula = pd.DataFrame()
isotopologue = pd.DataFrame()
molecule_single = pd.DataFrame()
num_isotopologues = pd.DataFrame()


for i in tqdm_nb(range(row)):
        
    _iso_slug = exomol_all[first.isin(['Iso-slug'])]['c0'].values
    _iso_formula = exomol_all[first.isin(['IsoFormula'])]['c0'].values
    _isotopologue = exomol_all[first.isin(['Isotopologue'])]['c0'].values
    _molecule_single = exomol_all[first.isin(['Molecule'])]['c0'].values
    _num_isotopologues = exomol_all[third.isin(['isotopologues'])]['c0'].values


iso_slug = iso_slug.append(pd.DataFrame(_iso_slug))
iso_formula = iso_formula.append(pd.DataFrame(_iso_formula))
isotopologue = isotopologue.append(pd.DataFrame(_isotopologue))
molecule_single = molecule_single.append(pd.DataFrame(_molecule_single))
num_isotopologues = num_isotopologues.append(pd.DataFrame(_num_isotopologues))

HBox(children=(IntProgress(value=0, max=1314), HTML(value='')))

In [4]:
iso_slug

                    0
0             2H2-16O
1             1H2-16O
2             1H2-18O
3             1H2-17O
4           1H-2H-16O
..                ...
183         28Si-16O2
184      cis-31P2-1H2
185  trans-31P2-1H-2H
186    trans-31P2-1H2
187         1H3-16O_p

[188 rows x 1 columns]

In [5]:
iso_formula

                        0
0              (2H)2(16O)
1              (1H)2(16O)
2              (1H)2(18O)
3              (1H)2(17O)
4           (1H)(2H)(16O)
..                    ...
183          (28Si)(16O)2
184       cis-(31P)2(1H)2
185  trans-(31P)2(1H)(2H)
186     trans-(31P)2(1H)2
187           (1H)3(16O)+

[188 rows x 1 columns]

In [6]:
isotopologue

             0
0       Hewitt
1    POKAZATEL
2     HotWat78
3     HotWat78
4          VTT
..         ...
183       OYT3
184     OY-Cis
185   OY-Trans
186   OY-Trans
187       eXeL

[188 rows x 1 columns]

In [7]:
molecule_single

             0
0          H2O
1          CO2
2           CO
3          CH4
4           NO
..         ...
73        SiH2
74        SiO2
75    cis-P2H2
76  trans-P2H2
77        H3O+

[78 rows x 1 columns]

In [8]:
num_isotopologues

     0
0    5
1   13
2    6
3    1
4    6
..  ..
73   1
74   1
75   1
76   2
77   1

[78 rows x 1 columns]

In [9]:
molecule_repeated = pd.DataFrame()
molecule_num = len(molecule_single)

for j in tqdm_nb(range(molecule_num)):    
    molecule_repeated = molecule_repeated.append(pd.DataFrame((molecule_single.values[j] + ' ') * int(num_isotopologues.values[j])))
    
    
molecule_str = str(molecule_repeated.values).replace("[['"," ").replace("']\n ['"," ").replace("']]"," ").replace("+","_p")
molecule = pd.read_csv(StringIO(molecule_str), sep='\s+', header=None)
molecule

HBox(children=(IntProgress(value=0, max=78), HTML(value='')))

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,H2O,H2O,H2O,H2O,H2O,CO2,CO2,CO2,CO2,CO2,...,AsH3,PF3,PH,CH3,SiH2,SiO2,cis-P2H2,trans-P2H2,trans-P2H2,H3O_p

In [10]:
molecule.values

array([['H2O', 'H2O', 'H2O', 'H2O', 'H2O', 'CO2', 'CO2', 'CO2', 'CO2',
        'CO2', 'CO2', 'CO2', 'CO2', 'CO2', 'CO2', 'CO2', 'CO2', 'CO2',
        'CO', 'CO', 'CO', 'CO', 'CO', 'CO', 'CH4', 'NO', 'NO', 'NO',
        'NO', 'NO', 'NO', 'SO2', 'NH3', 'NH3', 'HNO3', 'OH', 'HF', 'HCl',
        'HCl', 'HCl', 'HCl', 'H2CO', 'N2', 'HCN', 'HCN', 'CH3Cl',
        'CH3Cl', 'H2O2', 'C2H2', 'PH3', 'H2S', 'C2H4', 'CS', 'CS', 'CS',
        'CS', 'CS', 'CS', 'CS', 'CS', 'H2', 'H2', 'LiH', 'LiH_p', 'FeH',
        'TiH', 'BeH', 'BeH', 'BeH', 'CaH', 'CrH', 'SiH', 'SiH', 'SiH',
        'SiH', 'AlH', 'AlH', 'AlH', 'NaH', 'NaH', 'MgH', 'MgH', 'MgH',
        'SiO', 'SiO', 'SiO', 'SiO', 'SiO', 'TiO', 'TiO', 'TiO', 'TiO',
        'TiO', 'MgO', 'MgO', 'MgO', 'MgO', 'MgO', 'H3_p', 'H3_p',
        'HeH_p', 'HeH_p', 'HeH_p', 'HeH_p', 'H2_p', 'C2', 'C2', 'C2',
        'CN', 'CH', 'CH', 'LiCl', 'LiCl', 'LiCl', 'LiCl', 'NaCl', 'NaCl',
        'NH', 'SO3', 'YO', 'VO', 'SH', 'SH', 'SH', 'SH', 'SH', 'AlO',
        'AlO', 'AlO', 'AlO', 'ScH', 'KCl', 'KCl', 'KCl', 'KCl', 'CaO',
        'CP', 'PN', 'PN', 'PS', 'PO', 'SiH4', 'NS', 'NS', 'NS', 'NS',
        'NS', 'CH3F', 'SiS', 'SiS', 'SiS', 'SiS', 'SiS', 'SiS', 'SiS',
        'SiS', 'SiS', 'SiS', 'SiS', 'SiS', 'LiF', 'LiF', 'NaF', 'KF',
        'KF', 'AlCl', 'AlCl', 'AlF', 'CaF', 'CaF', 'CaF', 'CaF', 'CaF',
        'CaF', 'MgF', 'MgF', 'MgF', 'OH_p', 'AsH3', 'PF3', 'PH', 'CH3',
        'SiH2', 'SiO2', 'cis-P2H2', 'trans-P2H2', 'trans-P2H2', 'H3O_p']],
      dtype=object)

In [11]:
def_url = pd.DataFrame()

def_num = len(iso_slug)

for i in tqdm_nb(range(def_num)):
    def_url = def_url.append('http://www.exomol.com/db/' + molecule[i] + '/'
                             + iso_slug.values[i] + '/'+ isotopologue.values[i] + '/'
                             + iso_slug.values[i] + '__' + isotopologue.values[i] + '.def')

    
def_url['IsoFormula'] = iso_formula
def_url.columns = ['def url','IsoFormula']

def_url

HBox(children=(IntProgress(value=0, max=188), HTML(value='')))

                                               def url            IsoFormula
0    http://www.exomol.com/db/H2O/2H2-16O/Hewitt/2H...            (2H)2(16O)
1    http://www.exomol.com/db/H2O/1H2-16O/POKAZATEL...            (1H)2(16O)
2    http://www.exomol.com/db/H2O/1H2-18O/HotWat78/...            (1H)2(18O)
3    http://www.exomol.com/db/H2O/1H2-17O/HotWat78/...            (1H)2(17O)
4    http://www.exomol.com/db/H2O/1H-2H-16O/VTT/1H-...         (1H)(2H)(16O)
..                                                 ...                   ...
183  http://www.exomol.com/db/SiO2/28Si-16O2/OYT3/2...          (28Si)(16O)2
184  http://www.exomol.com/db/cis-P2H2/cis-31P2-1H2...       cis-(31P)2(1H)2
185  http://www.exomol.com/db/trans-P2H2/trans-31P2...  trans-(31P)2(1H)(2H)
186  http://www.exomol.com/db/trans-P2H2/trans-31P2...     trans-(31P)2(1H)2
187  http://www.exomol.com/db/H3O_p/1H3-16O_p/eXeL/...           (1H)3(16O)+

[188 rows x 2 columns]

In [12]:
def_url.values[0:10]

array([['http://www.exomol.com/db/H2O/2H2-16O/Hewitt/2H2-16O__Hewitt.def',
        '(2H)2(16O)'],
       ['http://www.exomol.com/db/H2O/1H2-16O/POKAZATEL/1H2-16O__POKAZATEL.def',
        '(1H)2(16O)'],
       ['http://www.exomol.com/db/H2O/1H2-18O/HotWat78/1H2-18O__HotWat78.def',
        '(1H)2(18O)'],
       ['http://www.exomol.com/db/H2O/1H2-17O/HotWat78/1H2-17O__HotWat78.def',
        '(1H)2(17O)'],
       ['http://www.exomol.com/db/H2O/1H-2H-16O/VTT/1H-2H-16O__VTT.def',
        '(1H)(2H)(16O)'],
       ['http://www.exomol.com/db/CO2/12C-16O2/UCL-4000/12C-16O2__UCL-4000.def',
        '(12C)(16O)2'],
       ['http://www.exomol.com/db/CO2/13C-16O2/Zak/13C-16O2__Zak.def',
        '(13C)(16O)2'],
       ['http://www.exomol.com/db/CO2/16O-12C-18O/Zak/16O-12C-18O__Zak.def',
        '(16O)(12C)(18O)'],
       ['http://www.exomol.com/db/CO2/16O-12C-17O/Zak/16O-12C-17O__Zak.def',
        '(16O)(12C)(17O)'],
       ['http://www.exomol.com/db/CO2/16O-13C-18O/Zak/16O-13C-18O__Zak.def',
        '(16O)(13C)(18O)']], dtype=object)

In [13]:
def download_deffile(file_url):
    
    failed_list = [] 
    for _link in tqdm_nb(file_url['def url'].values):
        
        link = _link
        iso_slug = link.split('/')[-4]
        iso_formula = str(file_url[file_url['def url'].isin([link])]['IsoFormula'].values).replace("['","").replace("']","")
        inital_def_name = link.split('/')[-1]
        new_def_filename = iso_slug + '_' + iso_formula + '_' + inital_def_name
        print("Downloading file: %s" % new_def_filename)
        print(link)
 
        # Make folders for save doanloaded files.
        folder_name = './data/def/'
        if os.path.exists(folder_name):
            pass
        else:
            os.makedirs(folder_name, exist_ok=True)
        filename = os.path.join(folder_name, new_def_filename)
        
        try:
            r = requests.get(link, stream=True, verify=False)
        except Exception:
            failed_list.append(new_def_filename)
            print(' download failed. Go to download next one\n')
              
        # For compute the progess.
        total_size = int(r.headers['Content-Length'])
        temp_size = 0    
   
        # Download started.
        with open(filename, 'wb') as f:
            for chunk in r.iter_content(chunk_size=1024 * 1024):
                if chunk:
                    temp_size += len(chunk)
                    f.write(chunk)
                    f.flush()
                    done = int(50 * temp_size / total_size)
                    sys.stdout.write("\r[%s%s] %d%%" % ('â–ˆ' * done, ' ' * (50 - done), 100 * temp_size / total_size))
                    sys.stdout.flush()
        
        print(" Downloaded!\n")

    print("All def files downloaded!\n")    
    print("The files which are failed to download: \n")
    print(failed_list) # Record which file is failed to download.

    return

In [ ]:
download_deffile(def_url)

HBox(children=(IntProgress(value=0, max=188), HTML(value='')))

Downloading file: H2O_(2H)2(16O)_2H2-16O__Hewitt.def
http://www.exomol.com/db/H2O/2H2-16O/Hewitt/2H2-16O__Hewitt.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: H2O_(1H)2(16O)_1H2-16O__POKAZATEL.def
http://www.exomol.com/db/H2O/1H2-16O/POKAZATEL/1H2-16O__POKAZATEL.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: H2O_(1H)2(18O)_1H2-18O__HotWat78.def
http://www.exomol.com/db/H2O/1H2-18O/HotWat78/1H2-18O__HotWat78.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: H2O_(1H)2(17O)_1H2-17O__HotWat78.def
http://www.exomol.com/db/H2O/1H2-17O/HotWat78/1H2-17O__HotWat78.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: H2O_(1H)(2H)(16O)_1H-2H-16O__VTT.def
http://www.exomol.com/db/H2O/1H-2H-16O/VTT/1H-2H-16O__VTT.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO2_(12C)(16O)2_12C-16O2__UCL-4000.def
http://www.exomol.com/db/CO2/12C-16O2/UCL-4000/12C-16O2__UCL-4000.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO2_(13C)(16O)2_13C-16O2__Zak.def
http://www.exomol.com/db/CO2/13C-16O2/Zak/13C-16O2__Zak.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO2_(16O)(12C)(18O)_16O-12C-18O__Zak.def
http://www.exomol.com/db/CO2/16O-12C-18O/Zak/16O-12C-18O__Zak.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO2_(16O)(12C)(17O)_16O-12C-17O__Zak.def
http://www.exomol.com/db/CO2/16O-12C-17O/Zak/16O-12C-17O__Zak.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO2_(16O)(13C)(18O)_16O-13C-18O__Zak.def
http://www.exomol.com/db/CO2/16O-13C-18O/Zak/16O-13C-18O__Zak.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO2_(16O)(13C)(17O)_16O-13C-17O__Zak.def
http://www.exomol.com/db/CO2/16O-13C-17O/Zak/16O-13C-17O__Zak.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO2_(12C)(18O)2_12C-18O2__Zak.def
http://www.exomol.com/db/CO2/12C-18O2/Zak/12C-18O2__Zak.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO2_(17O)(12C)(18O)_17O-12C-18O__Zak.def
http://www.exomol.com/db/CO2/17O-12C-18O/Zak/17O-12C-18O__Zak.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO2_(13C)(18O)2_13C-18O2__Zak.def
http://www.exomol.com/db/CO2/13C-18O2/Zak/13C-18O2__Zak.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO2_(12C)(17O)2_12C-17O2__Zak.def
http://www.exomol.com/db/CO2/12C-17O2/Zak/12C-17O2__Zak.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO2_(13C)(17O)2_13C-17O2__Zak.def
http://www.exomol.com/db/CO2/13C-17O2/Zak/13C-17O2__Zak.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO2_(14C)(16O)2_14C-16O2__Zak.def
http://www.exomol.com/db/CO2/14C-16O2/Zak/14C-16O2__Zak.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO2_(17O)(13C)(18O)_17O-13C-18O__Zak.def
http://www.exomol.com/db/CO2/17O-13C-18O/Zak/17O-13C-18O__Zak.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO_(12C)(16O)_12C-16O__Li2015.def
http://www.exomol.com/db/CO/12C-16O/Li2015/12C-16O__Li2015.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO_(13C)(16O)_13C-16O__Li2015.def
http://www.exomol.com/db/CO/13C-16O/Li2015/13C-16O__Li2015.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO_(12C)(18O)_12C-18O__Li2015.def
http://www.exomol.com/db/CO/12C-18O/Li2015/12C-18O__Li2015.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO_(12C)(17O)_12C-17O__Li2015.def
http://www.exomol.com/db/CO/12C-17O/Li2015/12C-17O__Li2015.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO_(13C)(18O)_13C-18O__Li2015.def
http://www.exomol.com/db/CO/13C-18O/Li2015/13C-18O__Li2015.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CO_(13C)(17O)_13C-17O__Li2015.def
http://www.exomol.com/db/CO/13C-17O/Li2015/13C-17O__Li2015.def
[â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ] 100% Downloaded!

Downloading file: CH4_(12C)(1H)4_12C-1H4__YT34to10.def
http://www.exomol.com/db/CH4/12C-1H4/YT34to10/12C-1H4__YT34to10.def

In [ ]:
path = "./data/def"

def_col_name = ['c0', '#', 'c1', 'c2', 'c3', 'c4', 'c5']

for(dirpath,dirnames,files)in os.walk(path):
    tot = 0
    count = 0
    unc_def_filename = []
    for filename in files:
        filepath = os.path.join(dirpath, filename)
        tot += 1
        def_df =  pd.read_csv(filepath,sep='\s+', names=def_col_name, header=None)
        c1 = def_df['c1']
        if def_df[c1.isin(['Uncertainty'])]['c0'].values == '1':
            unc_def_filename.append(filename)
            count += 1            
        else:
            no_unc_def_filename = []
        
    print('There are ', tot, ' def files.\n')
    print('The uncertainty availability shows YES in the following ', count, ' def files:\n', unc_def_filename)
    print('\nThe uncertainty availability does not exit or shows NO in other ', tot - count, 'def files.')

In [ ]:
unc_def_filename

## Get Download Links

In [ ]:
molecule_str = []
iso_formula_str = []
isotopologue_str = []
iso = []
api_url = []
target_link = []

for i in range(len(unc_def_filename)):
    molecule_str.append(unc_def_filename[i].replace('_p','+').split('_')[0].replace('+','_p'))
    iso_formula_str.append(unc_def_filename[i].replace('_p','+').split('_')[1])
    isotopologue_str.append(unc_def_filename[i].split('_')[-1].split('.')[0])
    
    _iso = (iso_formula_str[i], isotopologue_str[i])
    iso.append(_iso)
    
    api_url.append('http://exomol.com/api/?molecule=*&datatype=linelist'.replace('*',molecule_str[i]))
    
print(iso)
api_url

In [ ]:
#iso = [('(14N)(1H)3', 'CoYuTe')]

In [ ]:
#api_url = ['http://exomol.com/api/?molecule=NH3&datatype=linelist']

Get the download links of states.bz2 files and trans.bz2 files from webset.

In [ ]:
def get_target_url():
    
    """
    Get the download url from api.

    """
    
    file_url = []
    for i in range(len(iso)):
        
        response = requests.get(api_url[i])

        if(response.status_code != 200):
            print('ExoMol API Error' + str(response.status_code))

        # If the obtained status code is 200, it is correct.
        else:
            content = response.text            # Get the relevant content.
            json_dict = json.loads(content)    # Convert json into dictionary.

            # Extract files information from dictionary and convert them into list
            iso_slug = iso[i][0]
            isotopologue = iso[i][1]
            json_list = json_dict[iso_slug]['linelist'][isotopologue]['files']

            print('The number of downloading files for', iso_slug, isotopologue, ': ', len(json_list))
            print("Download links:")
            
            url_show = []
            for j in range(len(json_list)):
                link = json_list[j].get('url')
                try:
                    if((link.endswith('states.bz2') or link.endswith('trans.bz2'))):
                        file_url.append("http://www." + link)
                        url_show.append("http://www." + link)
                except KeyError:
                    print('Keyerror, keep going!')
                    
    
        for k in url_show:
            print(k)

    return file_url

In [ ]:
target_link = get_target_url()

## Download Files

We write all the download URLs into a text file, name it as $api__urls.txt$. 

In Linux, we use command 

```
wget -r -i /.../save_path/.../api__urls.txt
```

Download states.bz2 files and trans.bz2 files with download links. Save these files into correspoding folders.

In [ ]:
url_path = './data/url'
url_filename = url_path + '/api__urls.txt'

if os.path.exists(url_path):
    pass
else:
    os.makedirs(url_path, exist_ok=True)

with open(url_filename, 'w') as file:
    file.write('\n'.join(target_link))